In [ ]:
#2023 - 09 - 14 강의

# shift + enter : cell 실행 후 한 줄 더 생성 / 또는 다음 줄로 생성
# ctrl + enter : 제자리에서 실행

In [1]:
a = 1

In [3]:
a += 1
print(a)

3

In [4]:
# 자료형 - 숫자형

In [5]:
2**3

8

In [6]:
5/3

1.6666666666666667

In [7]:
int(5/3)

1

In [8]:
5//3

1

In [9]:
5%3

2

In [ ]:
# 작은 따음표 3개를 쓰면 여러 문자열을 삽입할 수 있다

In [10]:
news1 = """카멘 쇼케이스에 대해서도 많은 성원과 호응을 보내주셔서 감사합니다.

특히 저희 삼대장님들과 개발진들의 열정과 매력이 여러분들에게 잘 전달된 것 같아서 매우 기쁩니다.

앞으로도 삼대장님들을 포함한 많은 스탭분들의 매력을 보여드릴 기회가 늘어나면 좋겠습니다. 

그리고 저희 스튜디오의 궁극의 합작품인 카멘 레이드도 여러분들께 꼭 좋은 평가를 얻었으면 하는 바램입니다."""

In [11]:
news1

'카멘 쇼케이스에 대해서도 많은 성원과 호응을 보내주셔서 감사합니다.\n\n특히 저희 삼대장님들과 개발진들의 열정과 매력이 여러분들에게 잘 전달된 것 같아서 매우 기쁩니다.\n\n앞으로도 삼대장님들을 포함한 많은 스탭분들의 매력을 보여드릴 기회가 늘어나면 좋겠습니다. \n\n그리고 저희 스튜디오의 궁극의 합작품인 카멘 레이드도 여러분들께 꼭 좋은 평가를 얻었으면 하는 바램입니다.'

In [12]:
str1 = "hi"
str1 * 3

'hihihi'

In [13]:
"================================"

'================================'

In [14]:
"=" * 40

'========================================'

In [ ]:
# 배열의 길이를 측정할 때 length 대신 len()을 사용한다
# 배열에서 앞에서는 [0]배열부터 / 뒤에서는 [-1]배열부터 확인할 수 있다
# 배열에서 [1:3] 입력시 해당 배열의 [1]배열부터 [3]배열 이전까지 출력할 수 있다

In [15]:
a = [1, 2, 3, 4]
len(a)

4

In [16]:
a = "hello"
len(a)

5

In [17]:
a[1]

'e'

In [18]:
a[4], a[-1]

('o', 'o')

In [19]:
a[1:3]

'el'

In [20]:
a[2:]

'llo'

In [22]:
a[:2]

'he'

In [23]:
a[:]

'hello'

In [24]:
phone_num = "010-1234-5678"
#pn = 12345678
pn = phone_num[4:8] + phone_num[9:]
pn

'12345678'

In [25]:
a = "hello"
a

'hello'

In [26]:
hallo = a[:1] + "a" + a[2:]
hallo

'hallo'

In [27]:
res = 10
print("answer : [%d]" %res)

answer : [10]

In [28]:
res = "olleh" # hello
print("answer : [%s]" %res)

answer : [olleh]

In [29]:
# (0, 1) 2
# (0, 2) 3
# (0, 3) 4
res2 = [0, 0, 0, 0, 0]

res2[1] = 2
res2[2] = 3
res2[3] = 4

for j in range(1, 4):
    print("(0, %d) %d" %(j, res2[j]))

(0, 1) 2
(0, 2) 3
(0, 3) 4

In [30]:
print("농도가 98%입니다")

농도가 98%입니다

In [31]:
print("농도가 %d%%입니다" %98)

농도가 98%입니다

In [32]:
"%s" %"hi"

'hi'

In [33]:
# 공백이 10칸이 생성되며 앞에서 순서대로 8칸은 공백 남은 2칸은 입력한 값 hi가 적용된다
"%10s" %"hi"

'        hi'

In [34]:
# 공백이 10칸이 생성되며 -가 붙을 시 뒤에서부터 적용되며 앞에 2칸은 입력한 값 hi가 적용된다
"%-10s" %"hi"

'hi        '

In [39]:
# 이름, 11번째 자리에 n, 15번째 자리에 m
# -10을 통해 10칸 공백 생성 후 맨 앞에 이름 출력
# -4를 통해 이름 출력 후 남은 공백 다음 4칸의 공백 생성 후 맨 앞 (11)번째에 n 출력
# n 출력 후 남은 공백 다음 (15)번째에 m 출력

# '김진수' 출력 후 7자리 공백 + '10' 출력 후 2자리 공백 + '20' 출력
name = "김진수"
n = 10
m = 20
"%-10s%-4d%d" %(name, n, m)

'김진수       10  20'

In [36]:
# .4f 는 소수점 4자리 까지 출력
res = 3.42134234
"%.4f" %res

'3.4213'

In [37]:
1/3

0.3333333333333333

In [38]:
res = 1/3
"%.4f" %res

'0.3333'

In [40]:
# {} 속에 들어간 인덱스의 번호에 들어간 값을 출력
# {0} 입력 시 (a, b)중 0인덱스인 a값 출력 / {1} 입력 시 (a, b)중 1인덱스인 b값 출력
a = 1
b = 2
"값:{0}, 값:{1}".format(a, b), "값:{1}, 값:{0}".format(a, b)

('값:1, 값:2', '값:2, 값:1')

In [41]:
# {} 속에 입력한 변수에 직접적으로 값을 지정하는 방법
"값:{first}, 값:{second}".format(first = a, second = b)

'값:1, 값:2'

In [42]:
# f 문자열 포매팅 기능 -> 문자열 앞에 접두사로 f를 붙이면 사용 가능
name = "김진수"
satis_pred = 98.1 # 예상 만족도
print(f"""{name} 고객님께서 다음 상품에 대해 {satis_pred} 정도로 
만족하실 것 같아요. 가보실래요?""")

김진수 고객님께서 다음 상품에 대해 98.1 정도로
만족하실 것 같아요. 가보실래요?

In [ ]:
# 코딩 테스트 (자동화), 과제, 화이트보드 테스트 (수동 체점)

In [43]:
a = "my hobby"

# count = ()속 값의 갯수
a.count('b')

2

In [44]:
# find = ()속 값이 처음 나온 인덱스
a.find('b')

5

In [45]:
# 찾는 값이 없다면 -1 반환
a.find('k')

-1

In [46]:
# join을 통해 ()속 문자 사이마다 앞의 ""값 넣고 출력
" to the ".join('abc')

'a to the b to the c'

In [47]:
# lstrip = 왼쪽 공백 지우기 / rstrip = 오른쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [48]:
# strip = 양쪽 공백 지우기
# () 속에 값을 입력 시 양쪽에 해당 값을 지움
a = "***^^***"
a.strip("*")

'^^'

In [49]:
# replace = ()속 앞에 문자열을 뒤에 문자열로 바꿈
a = "hello"
a.replace("e", "a")

'hallo'

In [50]:
# split = ()속 값을 기준으로 문자열을 나눔 / 공백일 때는 공백 기준으로 나눔
pn = "010-1234-5678"
pn.split("-")

['010', '1234', '5678']

In [ ]:
# [ , , ] : JS-배열, 파이썬-리스트

In [51]:
a = "hello"
a2 = a.replace("e", "a")
a, a2

('hello', 'hallo')

In [52]:
# sort = 순서대로 정렬
a = [1, 4, 2, 6, 3]
a.sort()
a

[1, 2, 3, 4, 6]

In [53]:
a = [1, 4, 2, 6, 3]
a2 = sorted(a)
a, a2

([1, 4, 2, 6, 3], [1, 2, 3, 4, 6])

In [54]:
a = [1, 2, "3", 4]
a

[1, 2, '3', 4]

In [55]:
a = [1, 2, [3, 4]]
a

[1, 2, [3, 4]]

In [56]:
a[0], a[1], a[2][0], a[2][1]

(1, 2, 3, 4)

In [57]:
# str = 문자열 강제 변환
str(2) + "3"

'23'

In [61]:
a = ["h", "e", "l", "l", "o"]
a[1] = "a"
a

['h', 'a', 'l', 'l', 'o']

In [62]:
# del = 문자 또는 문자열 삭제
del a[1]
a

['h', 'l', 'l', 'o']

In [63]:
# append = 배열 뒤에 값을 추가
a = [1, 2, 3]
a.append(4)
a.append(5)
a

[1, 2, 3, 4, 5]

In [64]:
# insert = 지정한 인덱스 자리에 값을 추가
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [67]:
a = ["엑셀 cell 데이터 입력", "마우스 포인터 움직임", "키보드 엔터"]
a.append("전원끄기")
a

['엑셀 cell 데이터 입력', '마우스 포인터 움직임', '키보드 엔터', '전원끄기']

In [68]:
a = ["엑셀 cell 데이터 입력", "마우스 포인터 움직임", "키보드 엔터"]
a.insert(0, "전원끄기")
a

['전원끄기', '엑셀 cell 데이터 입력', '마우스 포인터 움직임', '키보드 엔터']

In [70]:
a = ["사장님 업무 지시", "과장님 업무 지시", "김대리님 업무 지시"]
a.insert(1, "이사님 업무 지시")
a

['사장님 업무 지시', '이사님 업무 지시', '과장님 업무 지시', '김대리님 업무 지시']

In [71]:
a = [10, 20, 30, 40]
del a[1] # 20 삭제
a

[10, 30, 40]

In [74]:
# remove = () 입력 값 삭제
a.remove(40) # 40 삭제
a

[10, 30]

In [76]:
# pop =  맨 뒤의 요소를 리턴하고 해당 요소 삭제
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [77]:
# pop에 값이 입력될 시 () 입력된 인덱스의 요소를 리턴하고 해당 요소 삭제
a = [1, 2, 3]
a.pop(0)
a

[2, 3]

In [78]:
# [] 리스트/배열 사용 시 속에 값을 변경이 가능하다
# () 튜플 사용 시 속에 값을 변경할 수 없다
a = [1, 2, 3]
a[1] = 20
a

[1, 20, 3]

In [79]:
# JS 객체
# dic = {name: 'pey',
#       phone: '010-9999-1234',
#       birth: '1118'}

# 파이썬 객체
dic = {'name': 'pey',
      'phone': '010-9999-1234',
      'birth': '1118'}

In [80]:
dic["hobby"] = "swiming"
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'hobby': 'swiming'}

In [81]:
del dic["hobby"]
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [82]:
dic["name"]

'pey'

In [83]:
dic = {'name': 'pey',
      'phone': '010-9999-1234',
      'birth': '1118',
      'name': 'kim'}
dic["name"]

'kim'

In [84]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [85]:
dic.values()

dict_values(['kim', '010-9999-1234', '1118'])

In [86]:
dic.items()

dict_items([('name', 'kim'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [89]:
# get = () 값을 가져오는데 없다면 공백 또는 none 출력
# 만약 없는 값일 때 출력 값을 지정할 수 있다
dic.get("name"), dic.get("hobby", "books")

('kim', 'books')

In [90]:
# dic 속에 해당 key가 있는지 확인
# 없으면 False 출력
"hobby" in dic

False

In [91]:
# 있으면 True 출력
"name" in dic

True

In [92]:
# JS : set 집합

In [93]:
1 > 2

False

In [94]:
# 파이썬은 True / False에서 첫 문자를 대문자로 써야만 식별이 가능하다
if (False):
    print("이건 실행 못하겠네")

In [95]:
a = [1, 2, 3]
b = a
b[1] = 20
a

[1, 20, 3]

In [96]:
a = [1, 2, 3]
b = a[:]
b[1] = 20
a

[1, 2, 3]

In [97]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
b[1] = 20
a

[1, 2, 3]

In [98]:
a = 1
b = 2
a, b = (1, 2)
a, b

(1, 2)

In [99]:
(a, b) = 1, 2
a, b

(1, 2)

In [100]:
a, b = 1, 2
a, b

(1, 2)

In [101]:
a = 0
b = 0
a = b = 0
a, b

(0, 0)

In [102]:
x = 1
y = 2
x, y = y, x
x, y

(2, 1)

In [104]:
my_money = 20000
taxi_pay = 10000
if my_money >= taxi_pay: # {
    print("택시를 ")
    print("타고 ")
    print("가자 ")
# }

택시를
타고
가자

In [110]:
# 들여쓰기가 제대로 안되면 오류가 난다
my_money = 2000
taxi_pay = 10000
if my_money >= taxi_pay:
    print("택시를 ")
print("타고 ")

타고

In [111]:
if True and True:
    print("ok")

ok

In [113]:
if True or True:
    print("ok")

ok

In [114]:
dict1 = {"key1":1, "key4":4, "key2":2}
"key4" in dict1

True

In [115]:
list1 = [1, 4, 2]
4 in list1

True

In [ ]:
# pass = 수행되도 아무런 일도 일어나지 않음

In [117]:
# JS
# for (let i=0; i<100000000; i++){ }

# range = () 횟수 만큼 반복
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [118]:
range(10)

range(0, 10)

In [119]:
range(0, 10)

range(0, 10)

In [120]:
# (1, 10) = 1부터 시작해서 10 이전까지 반복
for i in range(1, 10):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9

In [121]:
# (1, 10, 2) = 1부터 시작해서 10 이전까지 +2 반복
for i in range(1, 10, 2):
    print(i, end=" ")

1 3 5 7 9

In [122]:
# (2, 10, 2) = 2부터 시작해서 10 이전까지 +2 반복
for i in range(2, 10, 2):
    print(i, end=" ")

2 4 6 8

In [123]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num * 3)
print(result)

[3, 6, 9, 12]

In [124]:
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [125]:
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [126]:
result = []
for num in a:
    if num % 2 == 0:
        result.append(num * 3)
print(result)

[6, 12]

In [127]:
result = [dan * gop for dan in range(2, 10) for gop in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [163]:
result = []
for dan in range(2, 10):
    for gop in range(1, 10):
        result.append(dan * gop)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [147]:
# JS
# console.log("life" + "is" + "too short")
print("life" + " is" + " too short")

life is too short

In [148]:
print("life" " is" " too short")

life is too short

In [149]:
print("life", " is", " too short")

life  is  too short

In [150]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [151]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [153]:
a = 1
b = 2
c = 3
print(a, b, c)
print(a, b, c, sep="/")

1 2 3
1/2/3

In [154]:
a = input()

3

In [156]:
int(a) + 1

4

In [166]:
# page80 - 60초 카운트 후 발사

for count in range(60, -1, -1):
    print(count, end='\t')
    if count == 0:
        print()
        print()
        print("발사!")

60	59	58	57	56	55	54	53	52	51	50	49	48	47	46	45	44	43	42	41	40	39	38	37	36	35	34	33	32	31	30	29	28	27	26	25	24	23	22	21	20	19	18	17	16	15	14	13	12	11	10	9	8	7	6	5	4	3	2	1	0

발사!

In [168]:
# 강사님 풀이 (60초 카운트 후 발사)

for count in range(60, -1, -1):
    print(count, end='\t')
print()
print()
print("발사!")

60	59	58	57	56	55	54	53	52	51	50	49	48	47	46	45	44	43	42	41	40	39	38	37	36	35	34	33	32	31	30	29	28	27	26	25	24	23	22	21	20	19	18	17	16	15	14	13	12	11	10	9	8	7	6	5	4	3	2	1	0

발사!

In [171]:
# page81 - 구구단 나열

for sum1 in range(1, 10):
    for sum2 in range(1, 10):
        res = sum1 * sum2
        print(res, end='\t')
    print()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [172]:
# 강사님 풀이 (구구단 나열)

for sum1 in range(1, 10):
    for sum2 in range(1, 10):
        print(sum1 * sum2, end='\t')
    print()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [2]:
# page82 - 1부터 7까지 *이 숫자로 변경

# for문 속에 for문 2개 사용
for a in range(1, 8):
    for b in range(1, a+1):
        print(b, end=' ')
    for c in range(a+1, 8):
        print("*", end=' ')
    print()
    
print()
print()

# for문 속에 for문 1개 사용
for d in range(1, 8):
    for e in range(1, 8):
        if e > d:
            print("*", end=' ')
        else :
            print(e, end=' ')
    print()

1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7


1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7

In [6]:
# 2023 - 09 - 15 강의

# 강사님 풀이 (1부터 7까지 *이 숫자로 변경)
# for문 속에 for문 1개 사용
for d in range(1, 8):
    for e in range(1, 8):
        if d >= e:
            print(e, end=' ')
        else :
            print("*", end=' ')
    print()
    
print()
print()


# for문 속에 for문 2개 사용
for a in range(1, 8):
    for b in range(1, a+1):
        print(b, end=' ')
    for c in range(1, (7-a)+1):
        print("*", end=' ')
    print()

1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7


1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7

In [16]:
# 반복문 없이 강사님 풀이
for a in range(1, 8):
    for b in range(1, a+1):
        print(b, end=" ")
    print("* "*(7-a))
    
print()
print()
        
# 반복문 없이 다른사람 풀이
num = ""
for i in range(1, 8):
    num += str(i)
    print(num + "*"*(7-i))

1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7


1******
12*****
123****
1234***
12345**
123456*
1234567

In [21]:
# page83 - 피타고라스의 정리 (1~100) 사이의 갯수

# count = 갯수 / abc = 각 변의 길이
count = 0
for a in range(1, 101):
    for b in range(1, 101):
        for c in range(1, 101):
            ra = a * a
            rb = b * b
            rc = c * c
            res = ra + rb
            if res == rc:
                count = count + 1
                print("a = ", a,", b = ", b, ", c = ", c)
                print("aa = ", ra, ", bb = ", rb, ", cc = ", rc)
                print("aa + bb = ", res, ", cc = ", rc)
                print("count = ", count)
                print()
print("총 갯수 = ", count)

a =  3 , b =  4 , c =  5
aa =  9 , bb =  16 , cc =  25
aa + bb =  25 , cc =  25
count =  1

a =  4 , b =  3 , c =  5
aa =  16 , bb =  9 , cc =  25
aa + bb =  25 , cc =  25
count =  2

a =  5 , b =  12 , c =  13
aa =  25 , bb =  144 , cc =  169
aa + bb =  169 , cc =  169
count =  3

a =  6 , b =  8 , c =  10
aa =  36 , bb =  64 , cc =  100
aa + bb =  100 , cc =  100
count =  4

a =  7 , b =  24 , c =  25
aa =  49 , bb =  576 , cc =  625
aa + bb =  625 , cc =  625
count =  5

a =  8 , b =  6 , c =  10
aa =  64 , bb =  36 , cc =  100
aa + bb =  100 , cc =  100
count =  6

a =  8 , b =  15 , c =  17
aa =  64 , bb =  225 , cc =  289
aa + bb =  289 , cc =  289
count =  7

a =  9 , b =  12 , c =  15
aa =  81 , bb =  144 , cc =  225
aa + bb =  225 , cc =  225
count =  8

a =  9 , b =  40 , c =  41
aa =  81 , bb =  1600 , cc =  1681
aa + bb =  1681 , cc =  1681
count =  9

a =  10 , b =  24 , c =  26
aa =  100 , bb =  576 , cc =  676
aa + bb =  676 , cc =  676
count =  10

a =  11 , b =  60 , c =  61
aa =  121 , bb =  3600 , cc =  3721
aa + bb =  3721 , cc =  3721
count =  11

a =  12 , b =  5 , c =  13
aa =  144 , bb =  25 , cc =  169
aa + bb =  169 , cc =  169
count =  12

a =  12 , b =  9 , c =  15
aa =  144 , bb =  81 , cc =  225
aa + bb =  225 , cc =  225
count =  13

a =  12 , b =  16 , c =  20
aa =  144 , bb =  256 , cc =  400
aa + bb =  400 , cc =  400
count =  14

a =  12 , b =  35 , c =  37
aa =  144 , bb =  1225 , cc =  1369
aa + bb =  1369 , cc =  1369
count =  15

a =  13 , b =  84 , c =  85
aa =  169 , bb =  7056 , cc =  7225
aa + bb =  7225 , cc =  7225
count =  16

a =  14 , b =  48 , c =  50
aa =  196 , bb =  2304 , cc =  2500
aa + bb =  2500 , cc =  2500
count =  17

a =  15 , b =  8 , c =  17
aa =  225 , bb =  64 , cc =  289
aa + bb =  289 , cc =  289
count =  18

a =  15 , b =  20 , c =  25
aa =  225 , bb =  400 , cc =  625
aa + bb =  625 , cc =  625
count =  19

a =  15 , b =  36 , c =  39
aa =  225 , bb =  1296 , cc =  1521
aa + bb =  1521 , cc =  1521
count =  20

a =  16 , b =  12 , c =  20
aa =  256 , bb =  144 , cc =  400
aa + bb =  400 , cc =  400
count =  21

a =  16 , b =  30 , c =  34
aa =  256 , bb =  900 , cc =  1156
aa + bb =  1156 , cc =  1156
count =  22

a =  16 , b =  63 , c =  65
aa =  256 , bb =  3969 , cc =  4225
aa + bb =  4225 , cc =  4225
count =  23

a =  18 , b =  24 , c =  30
aa =  324 , bb =  576 , cc =  900
aa + bb =  900 , cc =  900
count =  24

a =  18 , b =  80 , c =  82
aa =  324 , bb =  6400 , cc =  6724
aa + bb =  6724 , cc =  6724
count =  25

a =  20 , b =  15 , c =  25
aa =  400 , bb =  225 , cc =  625
aa + bb =  625 , cc =  625
count =  26

a =  20 , b =  21 , c =  29
aa =  400 , bb =  441 , cc =  841
aa + bb =  841 , cc =  841
count =  27

a =  20 , b =  48 , c =  52
aa =  400 , bb =  2304 , cc =  2704
aa + bb =  2704 , cc =  2704
count =  28

a =  21 , b =  20 , c =  29
aa =  441 , bb =  400 , cc =  841
aa + bb =  841 , cc =  841
count =  29

a =  21 , b =  28 , c =  35
aa =  441 , bb =  784 , cc =  1225
aa + bb =  1225 , cc =  1225
count =  30

a =  21 , b =  72 , c =  75
aa =  441 , bb =  5184 , cc =  5625
aa + bb =  5625 , cc =  5625
count =  31

a =  24 , b =  7 , c =  25
aa =  576 , bb =  49 , cc =  625
aa + bb =  625 , cc =  625
count =  32

a =  24 , b =  10 , c =  26
aa =  576 , bb =  100 , cc =  676
aa + bb =  676 , cc =  676
count =  33

a =  24 , b =  18 , c =  30
aa =  576 , bb =  324 , cc =  900
aa + bb =  900 , cc =  900
count =  34

a =  24 , b =  32 , c =  40
aa =  576 , bb =  1024 , cc =  1600
aa + bb =  1600 , cc =  1600
count =  35

a =  24 , b =  45 , c =  51
aa =  576 , bb =  2025 , cc =  2601
aa + bb =  2601 , cc =  2601
count =  36

a =  24 , b =  70 , c =  74
aa =  576 , bb =  4900 , cc =  5476
aa + bb =  5476 , cc =  5476
count =  37

a =  25 , b =  60 , c =  65
aa =  625 , bb =  3600 , cc =  4225
aa + bb =  4225 , cc =  4225
count =  38

a =  27 , b =  36 , c =  45
aa =  729 , bb =  1296 , cc =  2025
aa + bb =  2025 , cc =  2025
count =  39

a =  28 , b =  21 , c =  35
aa =  784 , bb =  441 , cc =  1225
aa + bb =  1225 , cc =  1225
count =  40

a =  28 , b =  45 , c =  53
aa =  784 , bb =  2025 , cc =  2809
aa + bb =  2809 , cc =  2809
count =  41

a =  28 , b =  96 , c =  100
aa =  784 , bb =  9216 , cc =  10000
aa + bb =  10000 , cc =  10000
count =  42

a =  30 , b =  16 , c =  34
aa =  900 , bb =  256 , cc =  1156
aa + bb =  1156 , cc =  1156
count =  43

a =  30 , b =  40 , c =  50
aa =  900 , bb =  1600 , cc =  2500
aa + bb =  2500 , cc =  2500
count =  44

a =  30 , b =  72 , c =  78
aa =  900 , bb =  5184 , cc =  6084
aa + bb =  6084 , cc =  6084
count =  45

a =  32 , b =  24 , c =  40
aa =  1024 , bb =  576 , cc =  1600
aa + bb =  1600 , cc =  1600
count =  46

a =  32 , b =  60 , c =  68
aa =  1024 , bb =  3600 , cc =  4624
aa + bb =  4624 , cc =  4624
count =  47

a =  33 , b =  44 , c =  55
aa =  1089 , bb =  1936 , cc =  3025
aa + bb =  3025 , cc =  3025
count =  48

a =  33 , b =  56 , c =  65
aa =  1089 , bb =  3136 , cc =  4225
aa + bb =  4225 , cc =  4225
count =  49

a =  35 , b =  12 , c =  37
aa =  1225 , bb =  144 , cc =  1369
aa + bb =  1369 , cc =  1369
count =  50

a =  35 , b =  84 , c =  91
aa =  1225 , bb =  7056 , cc =  8281
aa + bb =  8281 , cc =  8281
count =  51

a =  36 , b =  15 , c =  39
aa =  1296 , bb =  225 , cc =  1521
aa + bb =  1521 , cc =  1521
count =  52

a =  36 , b =  27 , c =  45
aa =  1296 , bb =  729 , cc =  2025
aa + bb =  2025 , cc =  2025
count =  53

a =  36 , b =  48 , c =  60
aa =  1296 , bb =  2304 , cc =  3600
aa + bb =  3600 , cc =  3600
count =  54

a =  36 , b =  77 , c =  85
aa =  1296 , bb =  5929 , cc =  7225
aa + bb =  7225 , cc =  7225
count =  55

a =  39 , b =  52 , c =  65
aa =  1521 , bb =  2704 , cc =  4225
aa + bb =  4225 , cc =  4225
count =  56

a =  39 , b =  80 , c =  89
aa =  1521 , bb =  6400 , cc =  7921
aa + bb =  7921 , cc =  7921
count =  57

a =  40 , b =  9 , c =  41
aa =  1600 , bb =  81 , cc =  1681
aa + bb =  1681 , cc =  1681
count =  58

a =  40 , b =  30 , c =  50
aa =  1600 , bb =  900 , cc =  2500
aa + bb =  2500 , cc =  2500
count =  59

a =  40 , b =  42 , c =  58
aa =  1600 , bb =  1764 , cc =  3364
aa + bb =  3364 , cc =  3364
count =  60

a =  40 , b =  75 , c =  85
aa =  1600 , bb =  5625 , cc =  7225
aa + bb =  7225 , cc =  7225
count =  61

a =  42 , b =  40 , c =  58
aa =  1764 , bb =  1600 , cc =  3364
aa + bb =  3364 , cc =  3364
count =  62

a =  42 , b =  56 , c =  70
aa =  1764 , bb =  3136 , cc =  4900
aa + bb =  4900 , cc =  4900
count =  63

a =  44 , b =  33 , c =  55
aa =  1936 , bb =  1089 , cc =  3025
aa + bb =  3025 , cc =  3025
count =  64

a =  45 , b =  24 , c =  51
aa =  2025 , bb =  576 , cc =  2601
aa + bb =  2601 , cc =  2601
count =  65

a =  45 , b =  28 , c =  53
aa =  2025 , bb =  784 , cc =  2809
aa + bb =  2809 , cc =  2809
count =  66

a =  45 , b =  60 , c =  75
aa =  2025 , bb =  3600 , cc =  5625
aa + bb =  5625 , cc =  5625
count =  67

a =  48 , b =  14 , c =  50
aa =  2304 , bb =  196 , cc =  2500
aa + bb =  2500 , cc =  2500
count =  68

a =  48 , b =  20 , c =  52
aa =  2304 , bb =  400 , cc =  2704
aa + bb =  2704 , cc =  2704
count =  69

a =  48 , b =  36 , c =  60
aa =  2304 , bb =  1296 , cc =  3600
aa + bb =  3600 , cc =  3600
count =  70

a =  48 , b =  55 , c =  73
aa =  2304 , bb =  3025 , cc =  5329
aa + bb =  5329 , cc =  5329
count =  71

a =  48 , b =  64 , c =  80
aa =  2304 , bb =  4096 , cc =  6400
aa + bb =  6400 , cc =  6400
count =  72

a =  51 , b =  68 , c =  85
aa =  2601 , bb =  4624 , cc =  7225
aa + bb =  7225 , cc =  7225
count =  73

a =  52 , b =  39 , c =  65
aa =  2704 , bb =  1521 , cc =  4225
aa + bb =  4225 , cc =  4225
count =  74

a =  54 , b =  72 , c =  90
aa =  2916 , bb =  5184 , cc =  8100
aa + bb =  8100 , cc =  8100
count =  75

a =  55 , b =  48 , c =  73
aa =  3025 , bb =  2304 , cc =  5329
aa + bb =  5329 , cc =  5329
count =  76

a =  56 , b =  33 , c =  65
aa =  3136 , bb =  1089 , cc =  4225
aa + bb =  4225 , cc =  4225
count =  77

a =  56 , b =  42 , c =  70
aa =  3136 , bb =  1764 , cc =  4900
aa + bb =  4900 , cc =  4900
count =  78

a =  57 , b =  76 , c =  95
aa =  3249 , bb =  5776 , cc =  9025
aa + bb =  9025 , cc =  9025
count =  79

a =  60 , b =  11 , c =  61
aa =  3600 , bb =  121 , cc =  3721
aa + bb =  3721 , cc =  3721
count =  80

a =  60 , b =  25 , c =  65
aa =  3600 , bb =  625 , cc =  4225
aa + bb =  4225 , cc =  4225
count =  81

a =  60 , b =  32 , c =  68
aa =  3600 , bb =  1024 , cc =  4624
aa + bb =  4624 , cc =  4624
count =  82

a =  60 , b =  45 , c =  75
aa =  3600 , bb =  2025 , cc =  5625
aa + bb =  5625 , cc =  5625
count =  83

a =  60 , b =  63 , c =  87
aa =  3600 , bb =  3969 , cc =  7569
aa + bb =  7569 , cc =  7569
count =  84

a =  60 , b =  80 , c =  100
aa =  3600 , bb =  6400 , cc =  10000
aa + bb =  10000 , cc =  10000
count =  85

a =  63 , b =  16 , c =  65
aa =  3969 , bb =  256 , cc =  4225
aa + bb =  4225 , cc =  4225
count =  86

a =  63 , b =  60 , c =  87
aa =  3969 , bb =  3600 , cc =  7569
aa + bb =  7569 , cc =  7569
count =  87

a =  64 , b =  48 , c =  80
aa =  4096 , bb =  2304 , cc =  6400
aa + bb =  6400 , cc =  6400
count =  88

a =  65 , b =  72 , c =  97
aa =  4225 , bb =  5184 , cc =  9409
aa + bb =  9409 , cc =  9409
count =  89

a =  68 , b =  51 , c =  85
aa =  4624 , bb =  2601 , cc =  7225
aa + bb =  7225 , cc =  7225
count =  90

a =  70 , b =  24 , c =  74
aa =  4900 , bb =  576 , cc =  5476
aa + bb =  5476 , cc =  5476
count =  91

a =  72 , b =  21 , c =  75
aa =  5184 , bb =  441 , cc =  5625
aa + bb =  5625 , cc =  5625
count =  92

a =  72 , b =  30 , c =  78
aa =  5184 , bb =  900 , cc =  6084
aa + bb =  6084 , cc =  6084
count =  93

a =  72 , b =  54 , c =  90
aa =  5184 , bb =  2916 , cc =  8100
aa + bb =  8100 , cc =  8100
count =  94

a =  72 , b =  65 , c =  97
aa =  5184 , bb =  4225 , cc =  9409
aa + bb =  9409 , cc =  9409
count =  95

a =  75 , b =  40 , c =  85
aa =  5625 , bb =  1600 , cc =  7225
aa + bb =  7225 , cc =  7225
count =  96

a =  76 , b =  57 , c =  95
aa =  5776 , bb =  3249 , cc =  9025
aa + bb =  9025 , cc =  9025
count =  97

a =  77 , b =  36 , c =  85
aa =  5929 , bb =  1296 , cc =  7225
aa + bb =  7225 , cc =  7225
count =  98

a =  80 , b =  18 , c =  82
aa =  6400 , bb =  324 , cc =  6724
aa + bb =  6724 , cc =  6724
count =  99

a =  80 , b =  39 , c =  89
aa =  6400 , bb =  1521 , cc =  7921
aa + bb =  7921 , cc =  7921
count =  100

a =  80 , b =  60 , c =  100
aa =  6400 , bb =  3600 , cc =  10000
aa + bb =  10000 , cc =  10000
count =  101

a =  84 , b =  13 , c =  85
aa =  7056 , bb =  169 , cc =  7225
aa + bb =  7225 , cc =  7225
count =  102

a =  84 , b =  35 , c =  91
aa =  7056 , bb =  1225 , cc =  8281
aa + bb =  8281 , cc =  8281
count =  103

a =  96 , b =  28 , c =  100
aa =  9216 , bb =  784 , cc =  10000
aa + bb =  10000 , cc =  10000
count =  104

총 갯수 =  104

In [22]:
# 강사님 풀이 (피타고라스의 정리 (1~100) 사이의 갯수)

count = 0
for a in range(1, 101):
    for b in range(1, 101):
        for c in range(1, 101):
            if a*a + b*b == c*c:
                count+=1
print(count, "개")

104 개

In [26]:
# page84 - 1~10 -> 10~19 까지 나열 후 모든 수의 합

num = 0
for num_hei in range(1, 11):
    for num_wid in range(1, 11):
        res = num_hei + num_wid - 1
        num = num + res
        print(res, end="\t")
    print()
print()
print("모든 숫자의 합 = ", num)

1	2	3	4	5	6	7	8	9	10
2	3	4	5	6	7	8	9	10	11
3	4	5	6	7	8	9	10	11	12
4	5	6	7	8	9	10	11	12	13
5	6	7	8	9	10	11	12	13	14
6	7	8	9	10	11	12	13	14	15
7	8	9	10	11	12	13	14	15	16
8	9	10	11	12	13	14	15	16	17
9	10	11	12	13	14	15	16	17	18
10	11	12	13	14	15	16	17	18	19

모든 숫자의 합 =  1000

In [29]:
# 강사님 풀이 (1~10 -> 10~19 까지 나열 후 모든 수의 합)

sum_val = 0
for hang in range(1, 11):
    for yeol in range(1, 11):
        sum_val += hang + yeol - 1
print(f"누적 값은 {sum_val}이다")

print()

sum_val = 0
for hang in range(1, 11):
    for yeol in range(1, 11):
        num = hang + yeol - 1
        sum_val += num
        print(num, end=" ")
    print()
print(f"누적 값은 {sum_val}이다")

누적 값은 1000이다

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 11
3 4 5 6 7 8 9 10 11 12
4 5 6 7 8 9 10 11 12 13
5 6 7 8 9 10 11 12 13 14
6 7 8 9 10 11 12 13 14 15
7 8 9 10 11 12 13 14 15 16
8 9 10 11 12 13 14 15 16 17
9 10 11 12 13 14 15 16 17 18
10 11 12 13 14 15 16 17 18 19
누적 값은 1000이다

In [32]:
# page85 - 1~100 모든 정수의 각 자리에 나온 수 더한값

# 변수 초기화
num1 = 0
num10 = 0
num100 = 0
res = 0
sum_val = 0

for num in range(1, 101):
    num1 = int(num % 10)
    num10 = int(num / 10 % 10)
    num100 = int(num / 100 % 10)
    res = num1 + num10 + num100
    print(f"{num100} + {num10} + {num1} = {res}")
    print()
    sum_val = sum_val + res
print(f"모든 수의 합 = {sum_val}")

0 + 0 + 1 = 1

0 + 0 + 2 = 2

0 + 0 + 3 = 3

0 + 0 + 4 = 4

0 + 0 + 5 = 5

0 + 0 + 6 = 6

0 + 0 + 7 = 7

0 + 0 + 8 = 8

0 + 0 + 9 = 9

0 + 1 + 0 = 1

0 + 1 + 1 = 2

0 + 1 + 2 = 3

0 + 1 + 3 = 4

0 + 1 + 4 = 5

0 + 1 + 5 = 6

0 + 1 + 6 = 7

0 + 1 + 7 = 8

0 + 1 + 8 = 9

0 + 1 + 9 = 10

0 + 2 + 0 = 2

0 + 2 + 1 = 3

0 + 2 + 2 = 4

0 + 2 + 3 = 5

0 + 2 + 4 = 6

0 + 2 + 5 = 7

0 + 2 + 6 = 8

0 + 2 + 7 = 9

0 + 2 + 8 = 10

0 + 2 + 9 = 11

0 + 3 + 0 = 3

0 + 3 + 1 = 4

0 + 3 + 2 = 5

0 + 3 + 3 = 6

0 + 3 + 4 = 7

0 + 3 + 5 = 8

0 + 3 + 6 = 9

0 + 3 + 7 = 10

0 + 3 + 8 = 11

0 + 3 + 9 = 12

0 + 4 + 0 = 4

0 + 4 + 1 = 5

0 + 4 + 2 = 6

0 + 4 + 3 = 7

0 + 4 + 4 = 8

0 + 4 + 5 = 9

0 + 4 + 6 = 10

0 + 4 + 7 = 11

0 + 4 + 8 = 12

0 + 4 + 9 = 13

0 + 5 + 0 = 5

0 + 5 + 1 = 6

0 + 5 + 2 = 7

0 + 5 + 3 = 8

0 + 5 + 4 = 9

0 + 5 + 5 = 10

0 + 5 + 6 = 11

0 + 5 + 7 = 12

0 + 5 + 8 = 13

0 + 5 + 9 = 14

0 + 6 + 0 = 6

0 + 6 + 1 = 7

0 + 6 + 2 = 8

0 + 6 + 3 = 9

0 + 6 + 4 = 10

0 + 6 + 5 = 11

0 + 6 + 6 = 12

0 + 6 + 7 = 13

0 + 6 + 8 = 14

0 + 6 + 9 = 15

0 + 7 + 0 = 7

0 + 7 + 1 = 8

0 + 7 + 2 = 9

0 + 7 + 3 = 10

0 + 7 + 4 = 11

0 + 7 + 5 = 12

0 + 7 + 6 = 13

0 + 7 + 7 = 14

0 + 7 + 8 = 15

0 + 7 + 9 = 16

0 + 8 + 0 = 8

0 + 8 + 1 = 9

0 + 8 + 2 = 10

0 + 8 + 3 = 11

0 + 8 + 4 = 12

0 + 8 + 5 = 13

0 + 8 + 6 = 14

0 + 8 + 7 = 15

0 + 8 + 8 = 16

0 + 8 + 9 = 17

0 + 9 + 0 = 9

0 + 9 + 1 = 10

0 + 9 + 2 = 11

0 + 9 + 3 = 12

0 + 9 + 4 = 13

0 + 9 + 5 = 14

0 + 9 + 6 = 15

0 + 9 + 7 = 16

0 + 9 + 8 = 17

0 + 9 + 9 = 18

1 + 0 + 0 = 1

모든 수의 합 = 901

In [35]:
# 강사님 풀이 (1~100 모든 정수의 각 자리에 나온 수 더한값)

sum_100 = 0
for num in range(1, 101):
    num_1 = int((num / 1) % 10)
    num_10 = int((num / 10) % 10)
    num_100 = int((num / 100) % 10)
    sum_3s = num_100 + num_10 + num_1
    sum_100 += sum_3s
print(sum_100)

901

In [40]:
# page87 - num의 값이 1이 나올 때 까지 짝수면 (/ 2) / 홀수면 ((* 3 + 1) / 2  반복

# 짝수 = enum / 홀수 = onum
num = 682
count = 0
while num != 1:
    if num % 2 == 0:
        print(f"num = {num}")
        enum = int(num / 2)
        print(f"{num} / 2 = {enum}")
        num = int(num / 2)
        print()
        count = count + 1
    else :
        print(f"num = {num}")
        onum = int(((num * 3) + 1) / 2)
        print(f"(({num} * 3) + 1) / 2 = {onum}")
        num = int(((num * 3) + 1) / 2)
        print()
        count = count + 1
print(f"최종 값 = {num}")
print(f"총 계산 횟수 = {count}회")

num = 682
682 / 2 = 341

num = 341
((341 * 3) + 1) / 2 = 512

num = 512
512 / 2 = 256

num = 256
256 / 2 = 128

num = 128
128 / 2 = 64

num = 64
64 / 2 = 32

num = 32
32 / 2 = 16

num = 16
16 / 2 = 8

num = 8
8 / 2 = 4

num = 4
4 / 2 = 2

num = 2
2 / 2 = 1

최종 값 = 1
총 계산 횟수 = 11회

In [41]:
# 강사님 풀이 (num의 값이 1이 나올 때 까지 짝수면 (/ 2) / 홀수면 ((* 3 + 1) / 2  반복)

number = 682
count = 0
while True:
    if number % 2 == 0:
        number /= 2
    else :
        number = (number * 3 + 1) / 2
    count += 1
    
    if number == 1:
        print(count)
        break

11

In [42]:
# page88 - 우물안 개구리가 탈출까지 최소 며칠 소요되는가 / 낮 3m 오름 / 밤 2m 내려감 / 우물 깊이 = 19.4m

holl = 19.4
day = 0
while True:
    holl = holl - 3
    if holl <= 0:
        break
    else :
        holl = holl + 2
        day = day + 1
print(f"day = {day}")

day = 17

In [43]:
# 강사님 풀이 (우물안 개구리가 탈출까지 최소 며칠 소요되는가)

count = 0
myHeight = 0
while True:
    myHeight += 3
    if myHeight > 19.4:
        break
    myHeight -= 2
    count += 1
print(count)

17

In [79]:
# 수열분수

up_num = []
down_num = []
big_loop = 1
# [1/1][1/2, 2/1][1/3, 2/2, 3/1][1/4, 2/3, 3/2, 4/1]... / [] 하나당 big_loop

while True:
    for i in range(1, big_loop + 1):
        up_num.append(i)
        down_num.append(big_loop + 1 - i)
    if big_loop == 15:
        break
    big_loop += 1
for i_test in range(len(down_num)):
    if (up_num[i_test] == 4) and (down_num[i_test] == 5):
        print(i_test+1)
        break

32

In [81]:
big_loop = 1
# [1/1][1/2, 2/1][1/3, 2/2, 3/1][1/4, 2/3, 3/2, 4/1]... / [] 하나당 big_loop
i_test = 1
going = True

while going:
    for i in range(1, big_loop + 1):
        if (i == 4) and (big_loop + 1 - i == 5):
            print(i_test)
            going = False
        i_test += 1
    big_loop += 1

32

In [88]:
# 사과 1개 = 700 / 사관 5개 = 2500 / 사과 6개 = 2400 / 최저가 사과 17개 = ?

apple = 17
money = 0
apple6 = 0
apple5 = 0
apple1 = 0

while apple > 0:
    if apple >= 6:
        apple = apple - 6
        money = money + 2400
        apple6 = apple6 + 1
    elif apple >= 5:
        apple = apple - 5
        money = money + 2500
        apple5 = apple5 + 1
    elif apple >= 1:
        apple = apple - 1
        money = money + 700
        apple1 = apple1 + 1
print(f"구매해야할 남은 사과 갯수 = {apple} / 17개 최저가 구매 = {money}")
print(f"사과 1개 = {apple1} / 사과 5개 = {apple5} / 사과 6개 = {apple6}")

구매해야할 남은 사과 갯수 = 0 / 17개 최저가 구매 = 7300
사과 1개 = 0 / 사과 5개 = 1 / 사과 6개 = 2

In [93]:
# 반복문 없이 다른사람 풀이

def apple_shop (basket):    #   / <- 나누기 연산자 (소숫점도 나옴)  // <- 나누기 몫 연산자 (몫만나옴) % <- 나머지 연산자 (5 % 3 = 2 <- 나머지반환)
    six_apple = basket // 6 #  6개로 묶인 사과 갯수 세기
    basket = basket % 6     #  6개로 나눠서 남은 나머지만 넣어주기
    five_apple = basket // 5 # 위 동일
    basket = basket % 5      # 위 동일
    one_apple = basket       # 남은 사과 담아주기
    return (six_apple * 2400) + (five_apple * 2500) + (one_apple * 700) # 바구니의 갯수에 가격 매겨주기
print(apple_shop(17))

# 반복문 없이 변경
apple = 17
one_apple = 0
five_apple = 0
six_apple = 0
money = 0

six_apple = int(apple / 6)
apple = apple % 6
five_apple = int(apple / 5)
apple = apple % 5
one_apple = int(apple)

money = (six_apple * 2400) + (five_apple * 2500) + (one_apple * 700)
print(f"사과 17개의 최저가 = {money}")

7300
사과 17개의 최저가 = 7300

In [102]:
# 4의 3제곱 = 4 * 4 * 4 / 3의 2016제곱의 1의 자리의 숫자 = 1 / 1이 나오도록 구해볼 것
# 10000자리수 이상 계산 불가, 반복문 이용 거듭 제곱

num = 1
for i in range(2016):
    num *= 3
    num %= 10
num

1

In [115]:
# 양수를 입력받는 반복문 작성 / 입력된 값들의 평균, 최소값, 최대값 출력 / 음수 입력시 종료
# sum(), min(), max() 사용x, 반복문 o

count = 0
val_sum = 0
val_average = 0
val_max = 0
val_min = 0

while True:
    val_in = int(input("양의 숫자를 입력하세요 = "))
    
    # 최소값 설정
    if val_min == 0:
        val_min = val_in
    
    # 양수 일 때
    if val_in >= 0:
        
        # 평균값 계산
        count = count + 1
        val_sum = int(val_sum + val_in)
        val_average = val_sum / count
        
        # 최대값 계산
        if val_max < val_in:
            val_max = val_in
            
        # 최소값 계산
        if val_min > val_in:
            val_min = val_in
            
    # 음수 일 때
    elif val_in < 0:
        break
        

print(f"평균 = {val_average} / 최대값 = {val_max} / 최소값 = {val_min}")
print(f"모든 수의 합 = {val_sum} / 입력한 수의 갯수 = {count}")

양의 숫자를 입력하세요 = 84
양의 숫자를 입력하세요 = 56
양의 숫자를 입력하세요 = 87
양의 숫자를 입력하세요 = 56
양의 숫자를 입력하세요 = 55
양의 숫자를 입력하세요 = 86
양의 숫자를 입력하세요 = 25
양의 숫자를 입력하세요 = 95
양의 숫자를 입력하세요 = 35
양의 숫자를 입력하세요 = -1
평균 = 64.33333333333333 / 최대값 = 95 / 최소값 = 25
모든 수의 합 = 579 / 입력한 수의 갯수 = 9

In [117]:
# 강사님 풀이

val_count = 1
val_sum = val_min = val_max = int(input("양의 숫자를 입력하세요 = "))

while True:
    val_in = int(input("양의 숫자를 입력하세요 = "))
    
    if val_in < 0:
        val_average = val_sum / val_count
        
        print(f"평균 = {val_average} / 최대값 = {val_max} / 최소값 = {val_min}")
        print(f"모든 수의 합 = {val_sum} / 입력한 수의 갯수 = {val_count}")
        break
        
    if val_min > val_in:
        val_min = val_in
        
    if val_max < val_in:
        val_max = val_in
        
    val_sum += val_in
    val_count += 1

양의 숫자를 입력하세요 = 84
양의 숫자를 입력하세요 = 56
양의 숫자를 입력하세요 = 87
양의 숫자를 입력하세요 = 56
양의 숫자를 입력하세요 = 55
양의 숫자를 입력하세요 = 86
양의 숫자를 입력하세요 = 25
양의 숫자를 입력하세요 = 95
양의 숫자를 입력하세요 = 35
양의 숫자를 입력하세요 = -1
평균 = 64.33333333333333 / 최대값 = 95 / 최소값 = 25
모든 수의 합 = 579 / 입력한 수의 갯수 = 9

In [166]:
# 문자열에서 첫 글자를 맨 뒤로 옮기기 반복 / 
# 사전에서 가장 먼저 나오는 단어문자열 / 몇개의 문자를 뒤로 옮겨서 얻는 문자열인가
# 예시 banana => ananab, nanaba, anaban, nabana, abanan / 사전 서순 abanan / 5개의 문자를 옮겨서 나온 문자열

word = input("문자열을 입력하세요 = ")
wordlist = []
for r in range(len(word)):
    word = word[1:] + word[0]
    wordlist.append(word)
    print(f"앞 문자를 {r+1}번 뒤로 옮겼을 때 = {wordlist}")
wordlist_sort = sorted(wordlist)
word_count = wordlist.index(wordlist_sort[0]) + 1
print(f"사전순 정렬 = {wordlist_sort[0]} / {word_count} 번째 단어 입니다")

문자열을 입력하세요 = foobar
앞 문자를 1번 뒤로 옮겼을 때 = ['oobarf']
앞 문자를 2번 뒤로 옮겼을 때 = ['oobarf', 'obarfo']
앞 문자를 3번 뒤로 옮겼을 때 = ['oobarf', 'obarfo', 'barfoo']
앞 문자를 4번 뒤로 옮겼을 때 = ['oobarf', 'obarfo', 'barfoo', 'arfoob']
앞 문자를 5번 뒤로 옮겼을 때 = ['oobarf', 'obarfo', 'barfoo', 'arfoob', 'rfooba']
앞 문자를 6번 뒤로 옮겼을 때 = ['oobarf', 'obarfo', 'barfoo', 'arfoob', 'rfooba', 'foobar']
사전순 정렬 = arfoob / 4 번째 단어 입니다

In [167]:
# *args = 앞에 * 있을 시 args로 입력되는 값이 배열이 되어 들어간다

def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i   # *args에 입력받은 모든 값을 더한다.
    return result

In [168]:
result = add_many(1, 2, 3)
print(result)

6

In [169]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [172]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def add_many2(args):
    result = 0 
    for i in args: 
        result = result + i   # *args에 입력받은 모든 값을 더한다.
    return result
result = add_many2(mylist)
print(result)

55

In [173]:
def sachick(optype, *data):
    if optype == "add":
        result = 0
        for i in data:
            result += i
    elif optype == "mul":
        result = 1
        for i in data:
            result *= i
    elif optype == "sub":
        result = 0
        for i in data:
            result -= i
    elif optype == "div":
        result = 1
        for i in data:
            result /= i
    else :
        result = -1
    return result