In [1]:
# pandas, 표
# seaborn, matplotlib 그림(시각호, 도식화)

In [2]:
# sql : 행(row) : 한 건
#       열(column) : 종류

#       국 영 수
# 학생1 98 88 78
# 학생2 88 83 72
# 학생3 78 83 76
# 학생4 68 63 46

In [3]:
# pandas - Series(표 컬럼)
# pandas - DataFrame(표, 2차원)

In [7]:
import pandas as pd

In [8]:
kor_data = [98, 88, 78, 68]
s_kor_data = pd.Series(kor_data)
s_kor_data

0    98
1    88
2    78
3    68
dtype: int64

In [9]:
kor_data

[98, 88, 78, 68]

In [11]:
s_kor_data_1 = pd.Series(kor_data, index=["학생1", "학생2", "학생3", "학생4"])
s_kor_data_1

학생1    98
학생2    88
학생3    78
학생4    68
dtype: int64

In [12]:
s_eng_data_1 = pd.Series([88, 83, 83, 63], index=["학생1", "학생2", "학생3", "학생4"])
s_eng_data_1

학생1    88
학생2    83
학생3    83
학생4    63
dtype: int64

In [13]:
s_math_data_1 = pd.Series([78, 72, 76, 46], index=["학생1", "학생2", "학생3", "학생4"])
s_math_data_1

학생1    78
학생2    72
학생3    76
학생4    46
dtype: int64

In [15]:
s_math_data_1[3], s_math_data_1["학생4"]

(46, 46)

In [19]:
s_math_data_1["학생4"] = 66 # sql = update [tablename] set math=66 where name='학생4'
s_math_data_1

학생1    78
학생2    72
학생3    76
학생4    66
dtype: int64

In [21]:
s_sci_data_1 = pd.Series({"학생1":87, "학생2":85, "학생3":83, "학생4":81})
s_sci_data_1

학생1    87
학생2    85
학생3    83
학생4    81
dtype: int64

In [22]:
s_sci_data_1["학생1"], s_sci_data_1["학생4"]

(87, 81)

In [23]:
s_sci_data_1[ ["학생1", "학생4"] ]

학생1    87
학생4    81
dtype: int64

In [24]:
str1 = "pine apple"
str1[5:]

'apple'

In [25]:
s_sci_data_1[-2:]

학생3    83
학생4    81
dtype: int64

In [26]:
s_sci_data_1[ s_sci_data_1 >= 85 ]

학생1    87
학생2    85
dtype: int64

In [27]:
s_sci_data_1_float = s_sci_data_1.astype("float")
s_sci_data_1_float

학생1    87.0
학생2    85.0
학생3    83.0
학생4    81.0
dtype: float64

In [30]:
s_sci_data_1_str = s_sci_data_1.astype("object") # pandas string : object
s_sci_data_1_str

학생1    87
학생2    85
학생3    83
학생4    81
dtype: object