In [1]:
# !pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 44.8/44.8 kB ? eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

WARNING: Ignoring invalid distribution -pype1 (c:\programdata\miniconda3\envs\mulcam3\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\programdata\miniconda3\envs\mulcam3\lib\site-packages)

In [2]:
import pymysql as m

In [12]:
# mysql과 python 연결
con = m.connect(host='127.0.0.1', port=3305, user='root', password='1234', db='pythondb', charset='utf8')
cur = con.cursor()

for i in range(10):
    q = f'insert into test1 values({i}, "값{i}");'
    cur.execute(q)
con.commit() # data 변경할 때만 사용
con.close()

In [13]:
con = m.connect(host='127.0.0.1', port=3305, user='root', password='1234', db='pythondb', charset='utf8')
cur = con.cursor()

q = f'select * from test1;'
cur.execute(q)
res = cur.fetchall()
con.close()
res

((0, '값0'),
 (1, '값1'),
 (2, '값2'),
 (3, '값3'),
 (4, '값4'),
 (5, '값5'),
 (6, '값6'),
 (7, '값7'),
 (8, '값8'),
 (9, '값9'))

In [14]:
import pandas as pd

In [16]:
df_hollys = pd.read_csv("hollys_shopinfo.csv", encoding='cp949', index_col=0)
df_hollys[:5]

,0,1,2,3
0,전남 순천시,순천조례점,"전라남도 순천시 충효로 109 (조례동, 디지털프라자전자랜드) 조례동 1264",061-902-7288
1,충남 논산시,논산내동점,"충청남도 논산시 대학로65번길 6-5 (내동) 101,102,201호",041-733-4855
2,서울 구로구,오류동점,"서울특별시 구로구 경인로 224 (오류동, 칸타빌레5차) .",02-2625-4854
3,경기 고양시 일산동구,부천역점,"경기도 부천시 부일로 448 (심곡동, 프리존빌딩) 110호, 204호",032-665-8255
4,경기 화성시,화성병점점,"경기도 화성시 병점동로 105 1,2층(진안동)",031-233-4686

In [18]:
df_hollys.iloc[0, 0], df_hollys.iloc[0, 1], df_hollys.iloc[0, 2], df_hollys.iloc[0, 3]

('전남 순천시',
 '순천조례점',
 '전라남도 순천시 충효로 109 (조례동, 디지털프라자전자랜드) 조례동 1264',
 '061-902-7288')

In [19]:
con = m.connect(host='127.0.0.1', port=3305, user='root', password='1234', db='pythondb', charset='utf8')
cur = con.cursor()

for i in range(2):
    q = f"insert into hollys values('{df_hollys.iloc[i, 0]}', '{df_hollys.iloc[i, 1]}', '{df_hollys.iloc[i, 2]}', '{df_hollys.iloc[i, 3]}');"
    cur.execute(q)
con.commit() # data 변경할 때만 사용
con.close()

In [20]:
len(df_hollys)

504