In [ ]:
# shift + enter : cell 실행 후 한 줄 더 생성 / 또는 다음 줄로 생성
# ctrl + enter : 제자리에서 실행

In [1]:
a = 1

In [3]:
a += 1
print(a)

3

In [4]:
# 자료형 - 숫자형

In [5]:
2**3

8

In [6]:
5/3

1.6666666666666667

In [7]:
int(5/3)

1

In [8]:
5//3

1

In [9]:
5%3

2

In [ ]:
# 작은 따음표 3개를 쓰면 여러 문자열을 삽입할 수 있다

In [10]:
news1 = """카멘 쇼케이스에 대해서도 많은 성원과 호응을 보내주셔서 감사합니다.

특히 저희 삼대장님들과 개발진들의 열정과 매력이 여러분들에게 잘 전달된 것 같아서 매우 기쁩니다.

앞으로도 삼대장님들을 포함한 많은 스탭분들의 매력을 보여드릴 기회가 늘어나면 좋겠습니다. 

그리고 저희 스튜디오의 궁극의 합작품인 카멘 레이드도 여러분들께 꼭 좋은 평가를 얻었으면 하는 바램입니다."""

In [11]:
news1

'카멘 쇼케이스에 대해서도 많은 성원과 호응을 보내주셔서 감사합니다.\n\n특히 저희 삼대장님들과 개발진들의 열정과 매력이 여러분들에게 잘 전달된 것 같아서 매우 기쁩니다.\n\n앞으로도 삼대장님들을 포함한 많은 스탭분들의 매력을 보여드릴 기회가 늘어나면 좋겠습니다. \n\n그리고 저희 스튜디오의 궁극의 합작품인 카멘 레이드도 여러분들께 꼭 좋은 평가를 얻었으면 하는 바램입니다.'

In [12]:
str1 = "hi"
str1 * 3

'hihihi'

In [13]:
"================================"

'================================'

In [14]:
"=" * 40

'========================================'

In [ ]:
# 배열의 길이를 측정할 때 length 대신 len()을 사용한다
# 배열에서 앞에서는 [0]배열부터 / 뒤에서는 [-1]배열부터 확인할 수 있다
# 배열에서 [1:3] 입력시 해당 배열의 [1]배열부터 [3]배열 이전까지 출력할 수 있다

In [15]:
a = [1, 2, 3, 4]
len(a)

4

In [16]:
a = "hello"
len(a)

5

In [17]:
a[1]

'e'

In [18]:
a[4], a[-1]

('o', 'o')

In [19]:
a[1:3]

'el'

In [20]:
a[2:]

'llo'

In [22]:
a[:2]

'he'

In [23]:
a[:]

'hello'

In [24]:
phone_num = "010-1234-5678"
#pn = 12345678
pn = phone_num[4:8] + phone_num[9:]
pn

'12345678'

In [25]:
a = "hello"
a

'hello'

In [26]:
hallo = a[:1] + "a" + a[2:]
hallo

'hallo'

In [27]:
res = 10
print("answer : [%d]" %res)

answer : [10]

In [28]:
res = "olleh" # hello
print("answer : [%s]" %res)

answer : [olleh]

In [29]:
# (0, 1) 2
# (0, 2) 3
# (0, 3) 4
res2 = [0, 0, 0, 0, 0]

res2[1] = 2
res2[2] = 3
res2[3] = 4

for j in range(1, 4):
    print("(0, %d) %d" %(j, res2[j]))

(0, 1) 2
(0, 2) 3
(0, 3) 4

In [30]:
print("농도가 98%입니다")

농도가 98%입니다

In [31]:
print("농도가 %d%%입니다" %98)

농도가 98%입니다

In [32]:
"%s" %"hi"

'hi'

In [33]:
# 공백이 10칸이 생성되며 앞에서 순서대로 8칸은 공백 남은 2칸은 입력한 값 hi가 적용된다
"%10s" %"hi"

'        hi'

In [34]:
# 공백이 10칸이 생성되며 -가 붙을 시 뒤에서부터 적용되며 앞에 2칸은 입력한 값 hi가 적용된다
"%-10s" %"hi"

'hi        '

In [39]:
# 이름, 11번째 자리에 n, 15번째 자리에 m
# -10을 통해 10칸 공백 생성 후 맨 앞에 이름 출력
# -4를 통해 이름 출력 후 남은 공백 다음 4칸의 공백 생성 후 맨 앞 (11)번째에 n 출력
# n 출력 후 남은 공백 다음 (15)번째에 m 출력

# '김진수' 출력 후 7자리 공백 + '10' 출력 후 2자리 공백 + '20' 출력
name = "김진수"
n = 10
m = 20
"%-10s%-4d%d" %(name, n, m)

'김진수       10  20'

In [36]:
# .4f 는 소수점 4자리 까지 출력
res = 3.42134234
"%.4f" %res

'3.4213'

In [37]:
1/3

0.3333333333333333

In [38]:
res = 1/3
"%.4f" %res

'0.3333'

In [40]:
# {} 속에 들어간 인덱스의 번호에 들어간 값을 출력
# {0} 입력 시 (a, b)중 0인덱스인 a값 출력 / {1} 입력 시 (a, b)중 1인덱스인 b값 출력
a = 1
b = 2
"값:{0}, 값:{1}".format(a, b), "값:{1}, 값:{0}".format(a, b)

('값:1, 값:2', '값:2, 값:1')

In [41]:
# {} 속에 입력한 변수에 직접적으로 값을 지정하는 방법
"값:{first}, 값:{second}".format(first = a, second = b)

'값:1, 값:2'

In [42]:
# f 문자열 포매팅 기능 -> 문자열 앞에 접두사로 f를 붙이면 사용 가능
name = "김진수"
satis_pred = 98.1 # 예상 만족도
print(f"""{name} 고객님께서 다음 상품에 대해 {satis_pred} 정도로 
만족하실 것 같아요. 가보실래요?""")

김진수 고객님께서 다음 상품에 대해 98.1 정도로
만족하실 것 같아요. 가보실래요?

In [ ]:
# 코딩 테스트 (자동화), 과제, 화이트보드 테스트 (수동 체점)

In [43]:
a = "my hobby"

# count = ()속 값의 갯수
a.count('b')

2

In [44]:
# find = ()속 값이 처음 나온 인덱스
a.find('b')

5

In [45]:
# 찾는 값이 없다면 -1 반환
a.find('k')

-1

In [46]:
# join을 통해 ()속 문자 사이마다 앞의 ""값 넣고 출력
" to the ".join('abc')

'a to the b to the c'

In [47]:
# lstrip = 왼쪽 공백 지우기 / rstrip = 오른쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [48]:
# strip = 양쪽 공백 지우기
# () 속에 값을 입력 시 양쪽에 해당 값을 지움
a = "***^^***"
a.strip("*")

'^^'

In [49]:
# replace = ()속 앞에 문자열을 뒤에 문자열로 바꿈
a = "hello"
a.replace("e", "a")

'hallo'

In [50]:
# split = ()속 값을 기준으로 문자열을 나눔 / 공백일 때는 공백 기준으로 나눔
pn = "010-1234-5678"
pn.split("-")

['010', '1234', '5678']

In [ ]:
# [ , , ] : JS-배열, 파이썬-리스트

In [51]:
a = "hello"
a2 = a.replace("e", "a")
a, a2

('hello', 'hallo')

In [52]:
# sort = 순서대로 정렬
a = [1, 4, 2, 6, 3]
a.sort()
a

[1, 2, 3, 4, 6]

In [53]:
a = [1, 4, 2, 6, 3]
a2 = sorted(a)
a, a2

([1, 4, 2, 6, 3], [1, 2, 3, 4, 6])

In [54]:
a = [1, 2, "3", 4]
a

[1, 2, '3', 4]

In [55]:
a = [1, 2, [3, 4]]
a

[1, 2, [3, 4]]

In [56]:
a[0], a[1], a[2][0], a[2][1]

(1, 2, 3, 4)

In [57]:
# str = 문자열 강제 변환
str(2) + "3"

'23'

In [61]:
a = ["h", "e", "l", "l", "o"]
a[1] = "a"
a

['h', 'a', 'l', 'l', 'o']

In [62]:
# del = 문자 또는 문자열 삭제
del a[1]
a

['h', 'l', 'l', 'o']

In [63]:
# append = 배열 뒤에 값을 추가
a = [1, 2, 3]
a.append(4)
a.append(5)
a

[1, 2, 3, 4, 5]

In [64]:
# insert = 지정한 인덱스 자리에 값을 추가
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [67]:
a = ["엑셀 cell 데이터 입력", "마우스 포인터 움직임", "키보드 엔터"]
a.append("전원끄기")
a

['엑셀 cell 데이터 입력', '마우스 포인터 움직임', '키보드 엔터', '전원끄기']

In [68]:
a = ["엑셀 cell 데이터 입력", "마우스 포인터 움직임", "키보드 엔터"]
a.insert(0, "전원끄기")
a

['전원끄기', '엑셀 cell 데이터 입력', '마우스 포인터 움직임', '키보드 엔터']

In [70]:
a = ["사장님 업무 지시", "과장님 업무 지시", "김대리님 업무 지시"]
a.insert(1, "이사님 업무 지시")
a

['사장님 업무 지시', '이사님 업무 지시', '과장님 업무 지시', '김대리님 업무 지시']

In [71]:
a = [10, 20, 30, 40]
del a[1] # 20 삭제
a

[10, 30, 40]

In [74]:
# remove = () 입력 값 삭제
a.remove(40) # 40 삭제
a

[10, 30]

In [76]:
# pop =  맨 뒤의 요소를 리턴하고 해당 요소 삭제
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [77]:
# pop에 값이 입력될 시 () 입력된 인덱스의 요소를 리턴하고 해당 요소 삭제
a = [1, 2, 3]
a.pop(0)
a

[2, 3]

In [78]:
# [] 리스트/배열 사용 시 속에 값을 변경이 가능하다
# () 튜플 사용 시 속에 값을 변경할 수 없다
a = [1, 2, 3]
a[1] = 20
a

[1, 20, 3]

In [79]:
# JS 객체
# dic = {name: 'pey',
#       phone: '010-9999-1234',
#       birth: '1118'}

# 파이썬 객체
dic = {'name': 'pey',
      'phone': '010-9999-1234',
      'birth': '1118'}

In [80]:
dic["hobby"] = "swiming"
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'hobby': 'swiming'}

In [81]:
del dic["hobby"]
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [82]:
dic["name"]

'pey'

In [83]:
dic = {'name': 'pey',
      'phone': '010-9999-1234',
      'birth': '1118',
      'name': 'kim'}
dic["name"]

'kim'

In [84]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [85]:
dic.values()

dict_values(['kim', '010-9999-1234', '1118'])

In [86]:
dic.items()

dict_items([('name', 'kim'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [89]:
# get = () 값을 가져오는데 없다면 공백 또는 none 출력
# 만약 없는 값일 때 출력 값을 지정할 수 있다
dic.get("name"), dic.get("hobby", "books")

('kim', 'books')

In [90]:
# dic 속에 해당 key가 있는지 확인
# 없으면 False 출력
"hobby" in dic

False

In [91]:
# 있으면 True 출력
"name" in dic

True

In [92]:
# JS : set 집합

In [93]:
1 > 2

False

In [94]:
# 파이썬은 True / False에서 첫 문자를 대문자로 써야만 식별이 가능하다
if (False):
    print("이건 실행 못하겠네")

In [95]:
a = [1, 2, 3]
b = a
b[1] = 20
a

[1, 20, 3]

In [96]:
a = [1, 2, 3]
b = a[:]
b[1] = 20
a

[1, 2, 3]

In [97]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
b[1] = 20
a

[1, 2, 3]

In [98]:
a = 1
b = 2
a, b = (1, 2)
a, b

(1, 2)

In [99]:
(a, b) = 1, 2
a, b

(1, 2)

In [100]:
a, b = 1, 2
a, b

(1, 2)

In [101]:
a = 0
b = 0
a = b = 0
a, b

(0, 0)

In [102]:
x = 1
y = 2
x, y = y, x
x, y

(2, 1)

In [104]:
my_money = 20000
taxi_pay = 10000
if my_money >= taxi_pay: # {
    print("택시를 ")
    print("타고 ")
    print("가자 ")
# }

택시를
타고
가자

In [110]:
# 들여쓰기가 제대로 안되면 오류가 난다
my_money = 2000
taxi_pay = 10000
if my_money >= taxi_pay:
    print("택시를 ")
print("타고 ")

타고

In [111]:
if True and True:
    print("ok")

ok

In [113]:
if True or True:
    print("ok")

ok

In [114]:
dict1 = {"key1":1, "key4":4, "key2":2}
"key4" in dict1

True

In [115]:
list1 = [1, 4, 2]
4 in list1

True

In [ ]:
# pass = 수행되도 아무런 일도 일어나지 않음

In [117]:
# JS
# for (let i=0; i<100000000; i++){ }

# range = () 횟수 만큼 반복
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [118]:
range(10)

range(0, 10)

In [119]:
range(0, 10)

range(0, 10)

In [120]:
# (1, 10) = 1부터 시작해서 10 이전까지 반복
for i in range(1, 10):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9

In [121]:
# (1, 10, 2) = 1부터 시작해서 10 이전까지 +2 반복
for i in range(1, 10, 2):
    print(i, end=" ")

1 3 5 7 9

In [122]:
# (2, 10, 2) = 2부터 시작해서 10 이전까지 +2 반복
for i in range(2, 10, 2):
    print(i, end=" ")

2 4 6 8

In [123]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num * 3)
print(result)

[3, 6, 9, 12]

In [124]:
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [125]:
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [126]:
result = []
for num in a:
    if num % 2 == 0:
        result.append(num * 3)
print(result)

[6, 12]

In [127]:
result = [dan * gop for dan in range(2, 10) for gop in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [163]:
result = []
for dan in range(2, 10):
    for gop in range(1, 10):
        result.append(dan * gop)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [147]:
# JS
# console.log("life" + "is" + "too short")
print("life" + " is" + " too short")

life is too short

In [148]:
print("life" " is" " too short")

life is too short

In [149]:
print("life", " is", " too short")

life  is  too short

In [150]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [151]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [153]:
a = 1
b = 2
c = 3
print(a, b, c)
print(a, b, c, sep="/")

1 2 3
1/2/3

In [154]:
a = input()

3

In [156]:
int(a) + 1

4

In [166]:
# page80 - 60초 카운트 후 발사

for count in range(60, -1, -1):
    print(count, end='\t')
    if count == 0:
        print()
        print()
        print("발사!")

60	59	58	57	56	55	54	53	52	51	50	49	48	47	46	45	44	43	42	41	40	39	38	37	36	35	34	33	32	31	30	29	28	27	26	25	24	23	22	21	20	19	18	17	16	15	14	13	12	11	10	9	8	7	6	5	4	3	2	1	0

발사!

In [168]:
# 강사님 풀이 (60초 카운트 후 발사)

for count in range(60, -1, -1):
    print(count, end='\t')
print()
print()
print("발사!")

60	59	58	57	56	55	54	53	52	51	50	49	48	47	46	45	44	43	42	41	40	39	38	37	36	35	34	33	32	31	30	29	28	27	26	25	24	23	22	21	20	19	18	17	16	15	14	13	12	11	10	9	8	7	6	5	4	3	2	1	0

발사!

In [171]:
# page81 - 구구단 나열

for sum1 in range(1, 10):
    for sum2 in range(1, 10):
        res = sum1 * sum2
        print(res, end='\t')
    print()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [172]:
# 강사님 풀이 (구구단 나열)

for sum1 in range(1, 10):
    for sum2 in range(1, 10):
        print(sum1 * sum2, end='\t')
    print()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [176]:
# page82 - 1부터 7까지 *이 숫자로 변경

# for문 속에 for문 2개 사용
for a in range(1, 8):
    for b in range(1, a+1):
        print(b, end=' ')
    for c in range(a+1, 8):
        print("*", end=' ')
    print()
    
print()
print()

# for문 속에 for문 1개 사용
for d in range(1, 8):
    for e in range(1, 8):
        if e > d:
            print("*", end=' ')
        else :
            print(e, end=' ')
    print()

1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7


1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7

In [ ]:
# 강사님 풀이 (1부터 7까지 *이 숫자로 변경)